<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtravel.api.file.domain.upload.mapper.FundsChangeMapper">
  <resultMap id="BaseResultMap" type="com.jtravel.api.file.domain.upload.entity.FundsChange">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account_id" jdbcType="INTEGER" property="accountId" />
    <result column="payment_no" jdbcType="VARCHAR" property="paymentNo" />
    <result column="change_funds" jdbcType="DECIMAL" property="changeFunds" />
    <result column="pre_change_funds" jdbcType="DECIMAL" property="preChangeFunds" />
    <result column="afe_change_funds" jdbcType="DECIMAL" property="afeChangeFunds" />
    <result column="change_funds_credit" jdbcType="DECIMAL" property="changeFundsCredit" />
    <result column="pre_change_funds_credit" jdbcType="DECIMAL" property="preChangeFundsCredit" />
    <result column="afe_change_funds_credit" jdbcType="DECIMAL" property="afeChangeFundsCredit" />
    <result column="business_id" jdbcType="TINYINT" property="businessId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="change_type" jdbcType="TINYINT" property="changeType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="created" jdbcType="INTEGER" property="created" />
  </resultMap>
  <sql id="Base_Column_List">
    id, account_id, payment_no, change_funds, pre_change_funds, afe_change_funds, change_funds_credit, 
    pre_change_funds_credit, afe_change_funds_credit, business_id, order_no, change_type, 
    create_time, created
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from funds_change
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from funds_change
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.jtravel.api.file.domain.upload.entity.FundsChange" useGeneratedKeys="true">
    insert into funds_change (account_id, payment_no, change_funds, 
      pre_change_funds, afe_change_funds, change_funds_credit, 
      pre_change_funds_credit, afe_change_funds_credit, 
      business_id, order_no, change_type, 
      create_time, created)
    values (#{accountId,jdbcType=INTEGER}, #{paymentNo,jdbcType=VARCHAR}, #{changeFunds,jdbcType=DECIMAL}, 
      #{preChangeFunds,jdbcType=DECIMAL}, #{afeChangeFunds,jdbcType=DECIMAL}, #{changeFundsCredit,jdbcType=DECIMAL}, 
      #{preChangeFundsCredit,jdbcType=DECIMAL}, #{afeChangeFundsCredit,jdbcType=DECIMAL}, 
      #{businessId,jdbcType=TINYINT}, #{orderNo,jdbcType=VARCHAR}, #{changeType,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{created,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.jtravel.api.file.domain.upload.entity.FundsChange" useGeneratedKeys="true">
    insert into funds_change
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="accountId != null">
        account_id,
      </if>
      <if test="paymentNo != null">
        payment_no,
      </if>
      <if test="changeFunds != null">
        change_funds,
      </if>
      <if test="preChangeFunds != null">
        pre_change_funds,
      </if>
      <if test="afeChangeFunds != null">
        afe_change_funds,
      </if>
      <if test="changeFundsCredit != null">
        change_funds_credit,
      </if>
      <if test="preChangeFundsCredit != null">
        pre_change_funds_credit,
      </if>
      <if test="afeChangeFundsCredit != null">
        afe_change_funds_credit,
      </if>
      <if test="businessId != null">
        business_id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="changeType != null">
        change_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="created != null">
        created,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="accountId != null">
        #{accountId,jdbcType=INTEGER},
      </if>
      <if test="paymentNo != null">
        #{paymentNo,jdbcType=VARCHAR},
      </if>
      <if test="changeFunds != null">
        #{changeFunds,jdbcType=DECIMAL},
      </if>
      <if test="preChangeFunds != null">
        #{preChangeFunds,jdbcType=DECIMAL},
      </if>
      <if test="afeChangeFunds != null">
        #{afeChangeFunds,jdbcType=DECIMAL},
      </if>
      <if test="changeFundsCredit != null">
        #{changeFundsCredit,jdbcType=DECIMAL},
      </if>
      <if test="preChangeFundsCredit != null">
        #{preChangeFundsCredit,jdbcType=DECIMAL},
      </if>
      <if test="afeChangeFundsCredit != null">
        #{afeChangeFundsCredit,jdbcType=DECIMAL},
      </if>
      <if test="businessId != null">
        #{businessId,jdbcType=TINYINT},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="changeType != null">
        #{changeType,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="created != null">
        #{created,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jtravel.api.file.domain.upload.entity.FundsChange">
    update funds_change
    <set>
      <if test="accountId != null">
        account_id = #{accountId,jdbcType=INTEGER},
      </if>
      <if test="paymentNo != null">
        payment_no = #{paymentNo,jdbcType=VARCHAR},
      </if>
      <if test="changeFunds != null">
        change_funds = #{changeFunds,jdbcType=DECIMAL},
      </if>
      <if test="preChangeFunds != null">
        pre_change_funds = #{preChangeFunds,jdbcType=DECIMAL},
      </if>
      <if test="afeChangeFunds != null">
        afe_change_funds = #{afeChangeFunds,jdbcType=DECIMAL},
      </if>
      <if test="changeFundsCredit != null">
        change_funds_credit = #{changeFundsCredit,jdbcType=DECIMAL},
      </if>
      <if test="preChangeFundsCredit != null">
        pre_change_funds_credit = #{preChangeFundsCredit,jdbcType=DECIMAL},
      </if>
      <if test="afeChangeFundsCredit != null">
        afe_change_funds_credit = #{afeChangeFundsCredit,jdbcType=DECIMAL},
      </if>
      <if test="businessId != null">
        business_id = #{businessId,jdbcType=TINYINT},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="changeType != null">
        change_type = #{changeType,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jtravel.api.file.domain.upload.entity.FundsChange">
    update funds_change
    set account_id = #{accountId,jdbcType=INTEGER},
      payment_no = #{paymentNo,jdbcType=VARCHAR},
      change_funds = #{changeFunds,jdbcType=DECIMAL},
      pre_change_funds = #{preChangeFunds,jdbcType=DECIMAL},
      afe_change_funds = #{afeChangeFunds,jdbcType=DECIMAL},
      change_funds_credit = #{changeFundsCredit,jdbcType=DECIMAL},
      pre_change_funds_credit = #{preChangeFundsCredit,jdbcType=DECIMAL},
      afe_change_funds_credit = #{afeChangeFundsCredit,jdbcType=DECIMAL},
      business_id = #{businessId,jdbcType=TINYINT},
      order_no = #{orderNo,jdbcType=VARCHAR},
      change_type = #{changeType,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      created = #{created,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>