<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-logging.html-->

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>

    <property name="maxHistory" value="60"/>
    <!-- 日志最大的文件大小 50MB -->
    <property name="maxFileSize" value="200MB"/>
    <property name="godLoggerMaxFileSize" value="2048MB"/>
    <property name="LOG_PATH" value="logs"/>


    <!-- hdd-service -->
    <appender name="HDD_DEBUG_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/hdd-debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按天回滚 daily -->
            <fileNamePattern>
                ${LOG_PATH}/%d{yyyy-MM-dd}/hdd-service-log.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
            <!-- 日志最大的历史 30天 -->
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger -%msg%n</pattern>
        </encoder>
    </appender>

    <!-- ERROR级别日志-->
    <appender name="HDD_ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <file>${LOG_PATH}/hdd-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按天回滚 daily -->
            <fileNamePattern>
                ${LOG_PATH}/%d{yyyy-MM-dd}/error-log.%d{yyyy-MM-dd}.%i.log.gz
            </fileNamePattern>
            <!-- 日志最大的历史 30天 -->
            <maxHistory>${maxHistory}</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${maxFileSize}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger -%msg%n</pattern>
        </encoder>
    </appender>


    <!-- rest请求日志 -->
    <appender name="REST_REQUEST_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/rest_request.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOG_PATH}/%d{yyyy-MM-dd}/rest_request.%d{yyyy-MM-dd}.%i.log.gz
            </fileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${maxFileSize}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger -%msg%n</pattern>
        </encoder>
    </appender>
    <logger name="restRequest" level="INFO" additivity="false">
        <appender-ref ref="REST_REQUEST_LOG"/>
    </logger>

    <logger name="org.springframework" level="WARN"/>

    <!-- HTTP LOG -->
    <logger name="org.apache.http.impl.conn.PoolingHttpClientConnectionManager" level="info"/>
    <logger name="org.apache.http.conn.ssl" level="info"/>
    <logger name="org.apache.http.wire" level="info"/>
    <logger name="org.apache.http.headers" level="info"/>

    <springProfile name="prod,test">
        <!-- root级别   DEBUG -->
        <root level="DEBUG">
            <!-- 文件输出 -->
            <appender-ref ref="HDD_DEBUG_LOG"/>
            <appender-ref ref="HDD_ERROR_LOG"/>
        </root>
    </springProfile>
    <springProfile name="dev">
        <root level="DEBUG,INFO,WARN">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>